# Understanding Pandas Series and DataFrames - Lab

# Introduction

In this lab, let's get some hands on practice working with data cleanup using Pandas.

## Objectives
You will be able to:

* Manipulate columns in DataFrames (df.rename, df.drop)
* Manipulate the index in DataFrames (df.reindex, df.drop, df.rename)
* Manipulate column datatypes

In [7]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [8]:
df = pd.read_csv('turnstile_180901.txt')
print(len(df))
df.head()

197625

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

# Practice

## Objectives
You will be able to:
* Understand and explain what Pandas Series and DataFrames are and how they differ from dictionaries and lists
* Create Series & DataFrames from dictionaries and lists
* Manipulate columns in DataFrames (df.rename, df.drop)
* Manipulate the index in DataFrames (df.reindex, df.drop, df.rename)
* Manipulate column datatypes

# Rename all the columns to lower case

In [9]:
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

In [10]:
df.columns = [x.lower() for x in df.columns]
df.head()

,c/a,unit,scp,station,linename,division,date,time,desc,entries,exits
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

# Change the Index to be the Line Names

In [5]:
#save this for later, since I cheated and looked ahead
temp = df.index
df.index = df.linename
df.head()
#that didn't work b/c I ran the cells out of order and over-wrote temp

,c/a,unit,scp,station,linename,division,date,time,desc,entries,exits
linename,,,,,,,,,,,
NQR456W,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
NQR456W,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
NQR456W,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
NQR456W,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
NQR456W,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

In [11]:
df.reset_index()
df.head()

,c/a,unit,scp,station,linename,division,date,time,desc,entries,exits
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

# Painstakingly change the index back

In [51]:
df.index = range(1,len(df)+1)
df.loc[:,['station', 'linename']]

              station linename
1               59 ST  NQR456W
2               59 ST  NQR456W
3               59 ST  NQR456W
4               59 ST  NQR456W
5               59 ST  NQR456W
6               59 ST  NQR456W
7               59 ST  NQR456W
8               59 ST  NQR456W
9               59 ST  NQR456W
10              59 ST  NQR456W
11              59 ST  NQR456W
12              59 ST  NQR456W
13              59 ST  NQR456W
14              59 ST  NQR456W
15              59 ST  NQR456W
16              59 ST  NQR456W
17              59 ST  NQR456W
18              59 ST  NQR456W
19              59 ST  NQR456W
20              59 ST  NQR456W
21              59 ST  NQR456W
22              59 ST  NQR456W
23              59 ST  NQR456W
24              59 ST  NQR456W
25              59 ST  NQR456W
26              59 ST  NQR456W
27              59 ST  NQR456W
28              59 ST  NQR456W
29              59 ST  NQR456W
30              59 ST  NQR456W
...               ...      ...
197596  RIT-ROOSEVELT        R
197597  RIT-ROOSEVELT        R
197598  RIT-ROOSEVELT        R
197599  RIT-ROOSEVELT        R
197600  RIT-ROOSEVELT        R
197601  RIT-ROOSEVELT        R
197602  RIT-ROOSEVELT        R
197603  RIT-ROOSEVELT        R
197604  RIT-ROOSEVELT        R
197605  RIT-ROOSEVELT        R
197606  RIT-ROOSEVELT        R
197607  RIT-ROOSEVELT        R
197608  RIT-ROOSEVELT        R
197609  RIT-ROOSEVELT        R
197610  RIT-ROOSEVELT        R
197611  RIT-ROOSEVELT        R
197612  RIT-ROOSEVELT        R
197613  RIT-ROOSEVELT        R
197614  RIT-ROOSEVELT        R
197615  RIT-ROOSEVELT        R
197616  RIT-ROOSEVELT        R
197617  RIT-ROOSEVELT        R
197618  RIT-ROOSEVELT        R
197619  RIT-ROOSEVELT        R
197620  RIT-ROOSEVELT        R
197621  RIT-ROOSEVELT        R
197622  RIT-ROOSEVELT        R
197623  RIT-ROOSEVELT        R
197624  RIT-ROOSEVELT        R
197625  RIT-ROOSEVELT        R

[197625 rows x 2 columns]

## Create another column 'Num_Lines' that is a count of how many lines pass through a station. Then sort your dataframe by this column in descending order.

In [27]:
#df.columns
station_names = df[['linename','station']].drop_duplicates()
count_stops = station_names['station'].value_counts()

def get_count_stops(x):
    return count_stops[x]

df['Num_Lines'] = df['station'].map(lambda x:get_count_stops(x))
df = df.sort_values(by=['Num_Lines'], ascending=False)
df.head()

,c/a,unit,scp,station,linename,division,date,time,desc,entries,exits,Num_Lines
44653,N025,R102,01-00-01,125 ST,ACBD,IND,08/26/2018,20:00:00,REGULAR,5821985,4056970,4
158679,R258,R132,00-00-02,125 ST,456,IRT,08/25/2018,17:00:00,REGULAR,4900720,20303173,4
158716,R258,R132,00-00-02,125 ST,456,IRT,08/31/2018,17:00:00,REGULAR,4914385,20315031,4
158694,R258,R132,00-00-02,125 ST,456,IRT,08/28/2018,05:00:00,REGULAR,4904223,20307212,4
158692,R258,R132,00-00-02,125 ST,456,IRT,08/27/2018,21:00:00,REGULAR,4904142,20306971,4

In [78]:
#
#df['station'][10:30]
#len(stations[df['station'][10]])
df['Num_Lines'] = df['linename'].map(lambda x:len(x))
df.tail(600)

,c/a,unit,scp,station,linename,division,date,time,desc,entries,exits,Num_Lines
197026,S101A,R070,01-05-00,ST. GEORGE,1,SRT,08/30/2018,00:00:00,REGULAR,864,0,1
197027,S101A,R070,01-05-00,ST. GEORGE,1,SRT,08/30/2018,04:00:00,REGULAR,864,0,1
197028,S101A,R070,01-05-00,ST. GEORGE,1,SRT,08/30/2018,08:00:00,REGULAR,864,0,1
197029,S101A,R070,01-05-00,ST. GEORGE,1,SRT,08/30/2018,12:00:00,REGULAR,864,0,1
197030,S101A,R070,01-05-00,ST. GEORGE,1,SRT,08/30/2018,16:00:00,REGULAR,864,0,1
197031,S101A,R070,01-05-00,ST. GEORGE,1,SRT,08/30/2018,20:00:00,REGULAR,864,0,1
197032,S101A,R070,01-05-00,ST. GEORGE,1,SRT,08/31/2018,00:00:00,REGULAR,865,0,1
197033,S101A,R070,01-05-00,ST. GEORGE,1,SRT,08/31/2018,04:00:00,REGULAR,865,0,1
197034,S101A,R070,01-05-00,ST. GEORGE,1,SRT,08/31/2018,08:00:00,REGULAR,865,0,1
197035,S101A,R070,01-05-00,ST. GEORGE,1,SRT,08/31/2018,12:00:00,REGULAR,865,0,1
197036,S101A,R070,01-05-00,ST. GEORGE,1,SRT,08/31/2018,16:00:00,REGULAR,865,0,1
197037,S101A,R070,01-05-00,ST. GEORGE,1,SRT,08/31/2018,20:00:00,REGULAR,865,0,1
197038,S101A,R070,01-05-01,ST. GEORGE,1,SRT,08/25/2018,00:00:00,REGULAR,559,0,1
197039,S101A,R070,01-05-01,ST. GEORGE,1,SRT,08/25/2018,04:00:00,REGULAR,559,0,1
197040,S101A,R070,01-05-01,ST. GEORGE,1,SRT,08/25/2018,08:00:00,REGULAR,559,0,1
197041,S101A,R070,01-05-01,ST. GEORGE,1,SRT,08/25/2018,12:00:00,REGULAR,559,0,1
197042,S101A,R070,01-05-01,ST. GEORGE,1,SRT,08/25/2018,16:00:00,REGULAR,559,0,1
197043,S101A,R070,01-05-01,ST. GEORGE,1,SRT,08/25/2018,20:00:00,REGULAR,559,0,1
197044,S101A,R070,01-05-01,ST. GEORGE,1,SRT,08/26/2018,00:00:00,REGULAR,559,0,1
197045,S101A,R070,01-05-01,ST. GEORGE,1,SRT,08/26/2018,04:00:00,REGULAR,559,0,1
197046,S101A,R070,01-05-01,ST. GEORGE,1,SRT,08/26/2018,08:00:00,REGULAR,559,0,1
197047,S101A,R070,01-05-01,ST. GEORGE,1,SRT,08/26/2018,12:00:00,REGULAR,560,0,1
197048,S101A,R070,01-05-01,ST. GEORGE,1,SRT,08/26/2018,16:00:00,REGULAR,560,0,1
197049,S101A,R070,01-05-01,ST. GEORGE,1,SRT,08/26/2018,20:00:00,REGULAR,560,0,1
197050,S101A,R070,01-05-01,ST. GEORGE,1,SRT,08/27/2018,00:00:00,REGULAR,560,0,1
197051,S101A,R070,01-05-01,ST. GEORGE,1,SRT,08/27/2018,04:00:00,REGULAR,560,0,1
197052,S101A,R070,01-05-01,ST. GEORGE,1,SRT,08/27/2018,08:00:00,REGULAR,560,0,1
197053,S101A,R070,01-05-01,ST. GEORGE,1,SRT,08/27/2018,12:00:00,REGULAR,560,0,1
197054,S101A,R070,01-05-01,ST. GEORGE,1,SRT,08/27/2018,16:00:00,REGULAR,560,0,1
197055,S101A,R070,01-05-01,ST. GEORGE,1,SRT,08/27/2018,20:00:00,REGULAR,560,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
197596,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/27/2018,01:00:00,REGULAR,5554,348,1
197597,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/27/2018,05:00:00,REGULAR,5554,348,1
197598,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/27/2018,09:00:00,REGULAR,5554,348,1
197599,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/27/2018,13:00:00,REGULAR,5554,348,1
197600,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/27/2018,17:00:00,REGULAR,5554,348,1
197601,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/27/2018,21:00:00,REGULAR,5554,348,1
197602,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/28/2018,01:00:00,REGULAR,5554,348,1
197603,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/28/2018,05:00:00,REGULAR,5554,348,1
197604,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/28/2018,09:00:00,REGULAR,5554,348,1
197605,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/28/2018,13:00:00,REGULAR,5554,348,1
197606,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/28/2018,17:00:00,REGULAR,5554,348,1
197607,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/28/2018,21:00:00,REGULAR,5554,348,1
197608,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/29/2018,01:00:00,REGULAR,5554,348,1
197609,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/29/2018,05:00:00,REGULAR,5554,348,1
197610,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/29/2018,09:00:00,REGULAR,5554,348,1
197611,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/29/2018,13:00:00,REGULAR,5554,348,1
197612,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/29/2018,17:00:00,REGULAR,5554,348,1
197613,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/29/2018,21:00:00,REGULAR,5554,348,1
197614,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/30/2018,01:00:00,REGULAR,5554,348,1
197615,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/30/2018,05:00:00,REGULAR,5554,348,1
197616,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/30/2018,09:00:00,REGULAR,5554,348,1
197617,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/30/2018,13:00:00,REGULAR,5554,348,1
197618,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/30/2018,17:00:00,REGULAR,5554,348,1
197619,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/30/2018,21:00:00,REGULAR,5554,348,1
197620,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,01:00:00,REGULAR,5554,348,1
197621,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,05:00:00,REGULAR,5554,348,1
197622,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,09:00:00,REGULAR,5554,348,1
197623,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,13:00:00,REGULAR,5554,348,1
197624,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,17:00:00,REGULAR,5554,348,1
197625,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,21:00:00,REGULAR,5554,348,1

## Write a function to clean a column name.

In [ ]:
def clean(col_name):
    cleaned = #Your code here; whatever you want to do to col_name. Hint: think back to str methods.
    return cleaned

In [ ]:
#This is a list comprehension. It applies your clean function to every item in the list.
#We then reassign that to df.columns
#You shouldn't have to change anything here.
#Your function above should work appropriately here.
df.columns = [clean(col) for col in df.columns]

In [ ]:
#Checking the output, we can see the results.
df.columns

## Compare subway traffic by day of the week. Display this as a graph.

In [ ]:
#Your code here

## Is there more subway traffic on a weekend or a weekday?    Be specific in comparing magnitudes.

In [ ]:
#Your code here

# Drop a couple of columns

In [ ]:
# Your code here